body{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    font-family: 'Nunito Sans', sans-serif;
}

.heading{
    font-size: 48px;
    margin-bottom: 16px;
    color: #4b778d;
}

.winner-display{
    margin: 8px 8px;
    color: #8fd9a8;
}
.turn-display{
    margin: 8px 0px;
    color: #d2e69c;
}

.play-area{
    display: grid;
    grid-template-columns: auto auto auto;
    cursor: pointer;
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    margin-top: 24px;

}
.play-cells{
    height: 140px;
    width: 140px;
    border-radius: 8px ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3);
    -webkit-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3);
    -moz-box-shadow: 0px 0px 14px 3px rgba(0,0,0,0.3);
}

.play-cells:hover{
    background:rgba(40,181,181,0.3);
}

.x-cells{
    font-size: 100px;
    font-weight: 500;
    background-image: linear-gradient(to top, #857df3, #5c9bff, #44b4ff, #57c9fd, #80dbf5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.x-cells:hover{
    cursor: not-allowed;
    background-image: linear-gradient(to top, #857df3, #5c9bff, #44b4ff, #57c9fd, #80dbf5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.o-cells{
    font-size: 100px;
    font-weight: 500;
    background:  linear-gradient(to bottom, #f8ccf4, #f7bde8, #f7aedb, #f79ecc, #f68ebb);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.o-cells:hover{
    cursor:not-allowed;
    background:  linear-gradient(to bottom, #f8ccf4, #f7bde8, #f7aedb, #f79ecc, #f68ebb);;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.action-container{
    margin-top: 16px;
    padding: 16px;
}

.refresh-button{
    padding: 10px;
    font-family: inherit;
    font-size: 16px;
    font-weight: 400;
    border-radius: 8px;
    width: 2cm;
    text-transform: capitalize;
    background-image: linear-gradient(to right top, #28b5b5, #45bfb2, #5ec8af, #77d1ab, #8fd9a8);
    border: none;
    margin: 0px 10px;
    transition: 0.3s all;
}

.refresh-button:hover{
    transform: scale(1.2);
}

input{
    padding: 8px;
    border: 1px solid;
    font-size: 16px;
    border-radius: 8px;
    text-transform: capitalize;
    font-family: inherit;

}